@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --section-color: #fef7e9;
    --background-color: #9A9899;
    --primary-color: #c15b35;
    --header-color: #37261b;
    --header-font-color: #ed9f33;
    --main-font: 'Montserrat', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: var(--section-color);
    align-items: center;
    font-family: var(--main-font);
    padding-top: 15vh;
    width: 100%;
    min-height:100vh;
    font-size: 21px;
}

main{
    width: 100%;
}
h1{
    margin: 1em;
    color: var(--primary-color)
}
h2{
    color:var(--primary-color);
    margin: 10px 0px;
}
header {
    background-color: var(--header-color);
    color: var(--header-font-color);
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
nav {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

nav a {
    text-decoration: none !important;
    color: var(--header-font-color) !important;
    margin: 0 10px !important;
    font-size: 20px !important;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline !important;
    text-decoration-thickness: 1rem;
    text-underline-offset: 1rem;;
}

.research-section, .journal-section, .contact-section, .people-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--section-color);
    width: 100%;
    height: 100vh;
}
.logo{
    /* display: inline-block;
    vertical-align: top; */
    width: 200px;
    height: 70px;
    margin-right:auto;
}

p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

main a:hover {
    background-color: var(--primary-color);
    color: #fff;
}
header div {
    display: flex;
    font-size: 1.5em;
}
header div:hover{
    background-color: none;
}
.visit-button {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--section-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.visit-button:hover {
    background-color: var(--header-font-color);
}
form {
    margin: 20px;
    width: 600px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}
form{
    display: flex;
    flex-direction: column;
}
button {
    background-color: var(--primary-color);
    color: var(--section-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    align-self: center;
}

button:hover {
    background-color: var(--header-font-color);
}

.research{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.research-img{
    display: flex;

}
.journal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  0em;
}
.journal-img{
    display: flex;
}
.journal-section{
    background-color: whitesmoke;
}
.people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  0em;
}
.contact-section{
    background-color: whitesmoke;
    margin-bottom: 0;
    padding: 0em;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.overview, .contrastive, .challenge, .tda{
    display: flex;
    flex-direction: column;
    padding: 4em;
    margin: 1em 0;
}
#club-info, #meeting-schedule, #join-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
}
#meeting-schedule {
    background-color: var(--primary-color);
    display: flex;
    padding: 2em;
    justify-content: space-around;
    flex-direction: row;
    > div > p{
        color: var(--section-color);
    }
}
#past-recordings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
    padding: 4em;
    > div{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:40%;
    }
}
#meeting{
    color:var(--section-color);
}
ul{
    display: flex;
    list-style: none;
}