<!-- ---
title: "Blogs"
---
{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="css/blogs.css">
{% endblock %}
{% block content %}
<main>
    <div class="blog-post" onclick="navigateToPost('Introduction to Our Research')">
        <div class="blog-title">Introduction to Our Research</div>
    </div>
    <div class="blog-post" onclick="navigateToPost('Advanced Topics in Our Field')">
        <div class="blog-title">Advanced Topics in Our Field</div>
    </div>
</main>
Add more blog posts as needed -->
<!-- {% endblock %} -->