<!-- ---
title: "People"
---
{% extends "layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="css/people.css">
{% endblock %}

{% block content %}
<main>
    <div class="row">
        
        <div class="col person">
            <img src="instructor.jpg" alt="Name">
            <h2>Name</h2>
            <p>Description</p>
        </div>

        
        <div class="col person">
            <img src="student1.jpg" alt="Name">
            <h2>Name</h2>
            <p>Description</p>
        </div>

        <div class="col person">
            <img src="student2.jpg" alt="Name">
            <h2>Name</h2>
            <p>Description</p>
        </div>

        <div class="col person">
            <img src="student3.jpg" alt="Name">
            <h2>Name</h2>
            <p>Description</p>
        </div>

        <div class="col person">
            <img src="student4.jpg" alt="Name">
            <h2>Name</h2>
            <p>Description</p>
        </div>

        <div class="col person">
            <img src="student5.jpg" alt="Name">
            <h2>Name</h2>
            <p>Description</p>
        </div>
    </div>
</main>
{% endblock %} -->